{% load static%}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Servicios Informaticos</title>
      <!-- favicon -->
      <link rel="shortcut icon" href="{% static 'img/maximobatallan.avif' %}" type="image/x-icon">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- fontawesome css -->
      <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
      <!-- fontawesome css -->
      <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
      <!-- owl carousel css -->
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <!-- owl carousel theme css -->
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
      <!-- lightbox css -->
      <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
      <!-- slicknav css -->
      <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
      <!-- animate css -->
      <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
      <!-- main css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- responsive css -->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- jquery js -->
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

      
      
   </head>

   <body>
      <!--   header area start   -->
      <div class="header-area home-3">
         <div class="info-bar">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6">
                     <div class="contact-infos">
                        <div class="email">
                           <div class="icon-wrapper"><i class="flaticon-call"></i></div>
                           <div>+ 549 3659-5835</div>
                        </div>
                        <div class="phone">
                           <div class="icon-wrapper"><i class="flaticon-email"></i></div>
                           <div>maximobatallan@gmail.com</div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="right-content">
                        <ul class="social-links">
                      
                           <li><a href="https://www.linkedin.com/in/maximo-batallan-9a2508103/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                         
                        </ul>
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="support-nav-area" id="support-nav-area">
            <script>
              if (window.location.pathname === '/') {
                document.getElementById('support-nav-area').style.background = 'transparent';
              }
            </script>
            <div class="container">
               <div class="row">
                  <div class="col-lg-3 col-6">
                     <div class="logo-wrapper">
                        <div class="logo-wrapper-inner">
                           <a href="/"><img src="{% static 'img/mb.avif' %}" alt="maximobatallan"></a>
                           
                        
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-9 col-6 position-static">
                     <div class="navbar-area">
                        <div class="row">
                           <div class="col-12 position-static">
                              <nav class="main-menu" id="mainMenuHome3">
                                 
                                 <ul>
                                    <li>
                                       <a href="{% url 'home' %}">Inicio</a>
                                    </li>
                                    <li class="dropdown active">
                                     
                                       <a href="#servicios">Servicios</a>
                                        <ul>
                                          
                                         
                                         
 
                                           <li><a href="{% url 'exposicionenlinea' %}" >Busqueda de Clientes</a></li>
                                           <li><a href="{% url 'asistentevirtual' %}" >Asistentes Virtuales</a></li>
                                           <li><a href="{% url 'gestiondelainformacion' %}" >Gestión de la Información</a></li>
                                           <li><a href="{% url 'desarrollospersonalizados' %}" >Desarrollos Personalizados</a></li>
                                           
                                          
                                        </ul>
                                     </li>
                                    
                                    <li>
                                       <a href="{% url 'acercadeaev' %}">Acerca de Mí</a>
                                    </li>
                                    <li>
                                        <a href="#formulario">Contacto</a>
                                    </li>
                                 </ul>
                              </nav>
                              <div id="mobileMenuHome3"></div>
                         
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--   header area end   -->


      <!--   search bar popup start   -->
      <div class="search-popup">
         <form class="search-form" action="#">
            <div class="form-element"><input type="text" placeholder="Type your search keyword"></div>
         </form>
         <div class="search-popup-overlay" id="searchOverlay"></div>
         <button class="search-close-btn" id="searchCloseBtn"><i class="fas fa-times"></i></button>
      </div>
      <!--   search bar popup end   -->  
 
   

        {% block content %}


         
        
   
        {% endblock %}
    </body>
</html>
