{% load static%}
 <!--   news section start    -->
 <div id="casosdeexito">
    <div class="container" style="padding-bottom: 2%;">
       
       <h2 style="padding-top: 5%;" class="subtitle">Proyectos</h2>
       <div class="row">
         <div class="col-lg-4 col-md-6" style="padding-bottom: 5%;">
            <div class="single-news wow fadeInRight" data-wow-duration="1.5s">
               <a href="https://algorithmicevolution.net/" target="_blank"><img src="{% static 'img/algorithmicevolution.avif' %}" alt=""></a>
               <div class="news-txt">
                  <span class="date">Algorithmic Evolution</span>
                  <a href="https://algorithmicevolution.net/" target="_blank" class="title">
                     <h3>E-Commerce</h3>
                  </a>
                  <a class="readmore" href="https://algorithmicevolution.net/" target="_blank">Visitar Web</a>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6" style="padding-bottom: 5%;">
             <div class="single-news wow fadeInRight" data-wow-duration="1.5s">
                <a href="https://orejitasencasa.com" target="_blank"><img src="{% static 'img/orejitasencasa.avif' %}" alt=""></a>
                <div class="news-txt">
                   <span class="date">Orejitas en Casa</span>
                   <a href="https://orejitasencasa.com" target="_blank" class="title">
                      <h3>Guarderia Canina y Felina</h3>
                   </a>
                   <a class="readmore" href="https://orejitasencasa.com" target="_blank">Visitar Web</a>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6" style="padding-bottom: 5%;">
             <div class="single-news wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".2s">
                <a href="https://mbassets.net" target="_blank"><img src="{% static 'img/mbassets.avif' %}" alt=""></a>
                <div class="news-txt">
                   <span class="date">Mb Assets</span>
                   <a href="https://mbassets.net" target="_blank" class="title">
                      <h3>Servicios Financieros</h3>
                   </a>
                   <a class="readmore" href="https://mbassets.net" target="_blank">Visitar Web</a>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6" >
             <div class="single-news wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".4s">
                <a href="https://wa.me/5491123927033?text=Hola, quiero realizar un pedido me brindas la carta" target="_blank"><img src="{% static 'img/asistentevirtual.avif' %}" alt=""></a>
                <div class="news-txt">
                   <span class="date">Retobot</span>
                   <a href="https://wa.me/5491123927033?text=Hola, quiero realizar un pedido me brindas la carta" target="_blank" class="title">
                      <h3>Asistente Virtual Whatsapp</h3>
                   </a>
                   <a class="readmore" href="https://wa.me/5491123927033?text=Hola, quiero realizar un pedido me brindas la carta" target="_blank">Asistente demo para pruebas</a>
                </div>
             </div>
             

          </div>
       </div>
    </div>
 </div>
 <!--   news section end    -->