{% load static%}
 <!--   news section start    -->
 <div id="casosdeexito">
    <div class="container" style="padding-bottom: 2%;">
       
       <h2 style="padding-top: 5%;" class="subtitle">Proyectos</h2>
       <div class="row">
         <div class="col-lg-4 col-md-6" style="padding-bottom: 5%;">
            <div class="single-news wow fadeInRight" data-wow-duration="1.5s">
               <a href="https://amorxeldeporte.com.ar/" target="_blank"><img src="{% static 'img/amorxeldeporte.avif' %}" alt="cocoakush.ar"></a>
               <div class="news-txt">
                  <span class="date">Amor x el Deporte</span>
                  <a href="https://amorxeldeporte.com.ar/" target="_blank" class="title">
                     <h3>E-Commerce</h3>
                  </a>
                  <a class="readmore" href="https://amorxeldeporte.com.ar/" target="_blank">Visitar Web</a>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6" style="padding-bottom: 5%;">
             <div class="single-news wow fadeInRight" data-wow-duration="1.5s">
                <a href="https://cocoakush.ar" target="_blank"><img src="{% static 'img/cocoakush.avif' %}" alt="cocoakush.ar"></a>
                <div class="news-txt">
                   <span class="date">Cocoa Kush</span>
                   <a href="https://cocoakush.ar" target="_blank" class="title">
                      <h3>E-Commerce</h3>
                   </a>
                   <a class="readmore" href="https://impulsocial.com.ar" target="_blank">Visitar Web</a>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6" style="padding-bottom: 5%;">
            <div class="single-news wow fadeInRight" data-wow-duration="1.5s">
               <a href="https://algorithmicevolution.net" target="_blank"><img src="{% static 'img/algorithmicevolution.avif' %}" alt="cocoakush.ar"></a>
               <div class="news-txt">
                  <span class="date">algorithmic Evolution</span>
                  <a href="https://algorithmicevolution.net" target="_blank" class="title">
                     <h3>Simulador E-Commerce</h3>
                  </a>
                  <a class="readmore" href="https://algorithmicevolution.net" target="_blank">Visitar Web</a>
               </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6" style="padding-bottom: 5%;">
               <div class="single-news wow fadeInRight" data-wow-duration="1.5s">
                  <a href="https://wa.me/5491123927033?text=Hola, quiero realizar un pedido me brindas la carta" target="_blank"><img src="{% static 'img/asistentevirtual.avif' %}" alt="asistentevirtual"></a>
                  <div class="news-txt">
                     <span class="date">Asistente Virtual</span>
                     <a href="https://wa.me/5491123927033?text=Hola, quiero realizar un pedido me brindas la carta" target="_blank" class="title">
                        <h3>Ventas por telefono con IA</h3>
                     </a>
                     <a class="readmore" href="https://wa.me/5491123927033?text=Hola, quiero realizar un pedido me brindas la carta" target="_blank">Visitar Web</a>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6" style="padding-bottom: 5%;">
                <div class="single-news wow fadeInRight" data-wow-duration="1.5s">
                   <a href="https://orejitasencasa.com" target="_blank"><img src="{% static 'img/orejitasencasa.avif' %}" alt="cocoakush.ar"></a>
                   <div class="news-txt">
                      <span class="date">Orejitas en Casa</span>
                      <a href="https://orejitasencasa.com" target="_blank" class="title">
                         <h3>Guarderia Canina y Felina</h3>
                      </a>
                      <a class="readmore" href="https://orejitasencasa.com" target="_blank">Visitar Web</a>
                   </div>
                </div>
             </div>
             <div class="col-lg-4 col-md-6" style="padding-bottom: 5%;">
                <div class="single-news wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".2s">
                   <a href="https://django-server-production-6bc3.up.railway.app" target="_blank"><img src="{% static 'img/mbassets.avif' %}" alt="cocoakush.ar"></a>
                   <div class="news-txt">
                      <span class="date">Mb Assets</span>
                      <a href="https://django-server-production-6bc3.up.railway.app" target="_blank" class="title">
                         <h3>Servicios Financieros</h3>
                      </a>
                      <a class="readmore" href="https://django-server-production-6bc3.up.railway.app" target="_blank">Visitar Web</a>
                   </div>
                </div>
             </div>
             </div>
          </div>
         </div>
       
    </div>
 </div>
 <!--   news section end    -->


 
   
