{% extends "base.html" %}
{% load static%}
{% block head %}
    {{ block.super }}
    
    <!-- easyzoom css -->
    <link rel="stylesheet" href="{% static 'css/easyzoom.css' %}">
      <!-- slicknav css -->
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <!-- jquery ui css -->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    
    {% endblock %}
       


        {% block content %}
   
   <body>
     


      <!--  hero area start  -->
      <!--  hero area start  -->
      <div class="hero-area hero-bg-3 home-3">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 col-lg-8">
                  <div class="hero-txt">
                     <span class="wow fadeInDown" data-wow-duration="1.5s">Maximo Batallan</span>
                     <h1 class="wow fadeInUp" data-wow-duration="1.5s">Desarrollador de Servicios Web</h1>
                     <a class="wow fadeInUp boxed-btn" data-wow-duration="1.5s" href="#casosdeexito"><span>Conoce Más</span></a>                 </div>
               </div>
            </div>
         </div>
         <div class="hero-overlay"></div>
      </div>
      <!--  hero area end  -->
      <!--  hero area end  -->

      
  



      


     <!--  casos de exito section start  -->
      
     {% include "casosexito.html" %}
      
      <!--  casos de exito section end  -->

      <!--  features section start  -->
      <div class="features-section home-2 border-top border-top-lg-0">
         <div class="container">
            <div class="row feature-content">
               <div class="col-xl-5 offset-xl-7 col-lg-6 offset-lg-6 pr-0">
                  <div class="features">
                     <span class="title">Compromiso con el Cliente</span>
                     <h2 class="subtitle">Atención Personalizada</h2>
                     <div class="feature-lists">
                        <div class="single-feature wow fadeInUp" data-wow-duration="1s">
                           <div class="icon-wrapper"><i class="flaticon-customer-service"></i></div>
                           <div class="feature-details">
                              <h4>Soporte 24/7</h4>
                              <p>Escribime por whatsapp al numero +549 11-3659-5835, a la brevedad le estare contestando.</p>
                           </div>
                        </div>
                        <div class="single-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                           <div class="icon-wrapper"><i class="flaticon-email"></i></div>
                           <div class="feature-details">
                              <h4>Desarrollos en tiempo y forma</h4>
                              <p>Compromiso de cumplimiento de acuerdos preestablecidos</p>
                           </div>
                        </div>
                        <div class="single-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                           <div class="icon-wrapper"><i class="flaticon-worldwide"></i></div>
                           <div class="feature-details">
                              <h4>Servicio Global</h4>
                              <p>Desarrollo de Software en cualquier parte del mundo</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--  features section end  -->
       <!--   cta section end    -->   
      <!--  service section start  -->
      <div id="servicios" class="service-section home-2">
         <div class="container">
            <span class="title">Conozca mi cartera de servicios</span>
            <h2 class="subtitle">Portafolio</h2>
            <div class="service-carousel owl-carousel owl-theme">
               <div class="single-service" onclick="window.location.href='exposicionenlinea.html';" style="cursor: pointer;">
                  <div class="img-wrapper">
                     <img src="{% static 'img/exposicionenlinea.avif' %}" alt="maximobatallan">
                  </div>
                  <div class="service-txt">
                     <h4 class="service-title">Exposición en Línea</h4>
                     <p class="service-para">Consigue Clientes Potenciales a traves de la web, vende tus productos o Servicios en Linea, según tus necesidades</p>
                     <a href="exposicionenlinea.html" class="readmore">Leer Más</a>
                  </div>
               </div>
               <div class="single-service" onclick="window.location.href='asistentevirtual.html';" style="cursor: pointer;">
                  <div class="img-wrapper">
                     <img src="{% static 'img/Asistente virtual.avif' %}" alt="maximobatallan">
                  </div>
                  <div class="service-txt">
                     <h4 class="service-title">Asistente Virtuales</h4>
                     <p class="service-para">Obten un Asistente Virtual para la atención de tus Cliente con conexion a tus redes sociales. Whatsapp, Instagram, Facebook</p>
                     <a href="asistentevirtual.html" class="readmore">Leer Más</a>
                  </div>
               </div>
               <div class="single-service" onclick="window.location.href='gestiondelainformacion.html';" style="cursor: pointer;">
                  <div class="img-wrapper">
                     <img src="{% static 'img/basededatos.avif' %}" alt="maximobatallan">
                  </div>
                  <div class="service-txt">
                     <h4 class="service-title">Gestión de la Información</h4>
                     <p class="service-para">Manten la Información de Negocio ordenada, segura y en Línea. Gestion de Bases de datos para recopilar o brindar Información a tus Clientes</p>
                     <a href="gestiondelainformacion.html" class="readmore">Leer Más</a>
                  </div>
               </div>
               <div class="single-service" onclick="window.location.href='desarrollospersonalizados.html';" style="cursor: pointer;">
                  <div class="img-wrapper">
                     <img src="{% static 'img/desarrollopersonalizado.avif' %}" alt="maximobatallan">
                  </div>
                  <div class="service-txt" >
                     <h4 class="service-title">Desarrollos Personalizados</h4>
                     
                     <p class="service-para">Productos digitales a Medida del Cliente. Sectores: Finanzas, Recursos Humanos, Comercial, Ventas, Administrativos  </p>
                     <a href="desarrollospersonalizados.html" class="readmore">Leer Más</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--  service section end  -->
     

      <!--   cta section start    -->
      <div class="cta-section cta-bg">
         <div class="container">
            <div class="cta-container">
               <div class="row align-items-center">
                  <div class="col-lg-9">
                     <h2 class="mb-lg-0 text-center text-lg-left">Potencia tus proyectos con tecnología innovadora.</h2>
                  </div>
                  <div class="col-lg-3 text-center text-lg-right">
                     <a href="https://wa.me/5491154024191?text=¡Hola, quisiera mas modelos de camisetas!" class="boxed-btn"><span>Contacto</span></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="cta-overlay"></div>
      </div>

        
    

      {% include "QA.html" %}


   <!--   footer start    -->

      {% include "footer.html" %}

<!-- footer end -->

      <!-- preloader section start -->
      <div class="loader-container">
         <span class="loader">
         <span class="loader-inner"></span>
         </span>
      </div>
      <!-- preloader section end -->




      <script src="{% static 'js/popper.min.js' %}"></script>
      <!-- bootstrap js -->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- owl carousel js -->
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <!-- isotope js -->
      <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
      <!-- easyzoom js -->
      
      <script src="{% static 'js/lightbox.min.js' %}"></script>
    
     
      <!-- slicknav js -->
      <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
  
      <!-- wow js -->
      
      <script src="{% static 'js/wow.min.js' %}"></script>
      <!-- main js -->
      <script src="{% static 'js/main.js' %}"></script>
      
      {% endblock %}
        

</html>
