<!--   faq section start    -->
<div id="acercadeaev" class="faq-section">
    <div class="container">
       <div class="row">
          <div class="col-xl-6 col-lg-7">
             <div class="targets home-2">
                <div class="box wow fadeInUp" data-wow-duration="1.5s">
                   <div class="icon-wrapper"><i class="flaticon-external-link-square-with-an-arrow-in-right-diagonal"></i></div>
                   <div class="box-details">
                      <h4>Misión</h4>
                      <p style="text-align: justify;">
                         Impulsar la innovación digital al ofrecer soluciones de software excepcionales. Comprometido a superar las expectativas del cliente, 
                         proporcionando productos y servicios que no solo resuelven desafíos actuales, sino que también anticipan y responden a las demandas 
                         emergentes del mundo tecnológico. Con una pasión por la excelencia y la creatividad, dedicado a ser socio estratégico de los clientes 
                         en su viaje hacia el éxito digital.
                     </p>
                   </div>
                </div>
                <div class="box wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
                   <div class="icon-wrapper"><i class="flaticon-check"></i></div>
                   <div class="box-details">
                      <h4>Vision</h4>
                      <p style="text-align: justify;"> Visualizo un futuro donde nuestra tecnología impulsa el progreso, inspira cambios positivos y transforma la forma en que el mundo interactúa con la tecnología. A medida que avanzamos, 
                       nos esforzamos por construir un legado de excelencia, creatividad y contribución significativa al panorama digital global.</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="offset-xl-1 col-xl-5 col-lg-5">
             <span class="title">Q&A</span>
             <h2 class="subtitle">Preguntas Frecuentes</h2>
             <div class="accordion" id="accordionExample">
                <div class="card wow fadeInUp" data-wow-duration="1s">
                   <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                         <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                           ¿Cómo funciona el proceso de desarrollo?                       
                         </button>
                      </h2>
                   </div>
                   <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                         <p style="text-align: justify;">El proceso comienza con una consulta detallada para entender las necesidades del cliente. Luego, se diseña y desarrolla las soluciones personalizadas, manteniéndote informado en cada etapa del proyecto. 
                         </p>
                         </div>
                   </div>
                </div>
                <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                   <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                         <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           ¿Cuánto tiempo lleva desarrollar un proyecto de software?
                         </button>
                      </h2>
                   </div>
                   <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                         <p style="text-align: justify;"> El tiempo varía según la complejidad del proyecto. Realizo una evaluación detalladas para proporcionarte estimaciones precisas y garantizar entregas oportunas. 
                         </p>
                      </div>
                   </div>
                </div>
                <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                   <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                         <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           ¿Ofreces soporte después de la implementación del software?
                            
                          </button>
                      </h2>
                   </div>
                   <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">
                         <p style="text-align: justify;"> Sí, se realiza un seguimiento continuo con actualizaciones y mantenimiento para garantizar que tu software funcione de manera óptima a lo largo del tiempo.
                         </p>
                         </div>
                   </div>
                </div>
                <div class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                   <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                         <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                           ¿Cuál es el método de pago y la estructura de facturación?
                         </button>
                      </h2>
                   </div>
                   <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">
                         <p style="text-align: justify;">Se realiza a traves de un sistema de pago escalonado para garantizar la transparencia y la satisfacción del cliente. El proceso generalmente comienza con un anticipo, que cubre los costos iniciales y permite comenzar a trabajar en tu proyecto. Posteriormente, el pago restante se estructura según hitos u objetivos predefinidos en el proyecto. Esto no solo permite una colaboración financiera flexible, sino que también asegura que solo pagues por los avances y entregables alcanzados de manera exitosa.
                   </p> </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!--   faq section end    -->
